  <div class="second-header">
    <%# アプリ名表示・リンク先topページ予定 %>
    <%= link_to root_path do %>
      <div class="title-image">
        <%= image_tag 'test_title.png', class: 'second-title-logo' %>
      </div>
    <% end %>
  </div>