<div class="header">
  <div class="main-title">
    <%# アプリ名表示・リンク先topページ予定 %>
    <div class="title-image">
      <%= image_tag 'test_title.png', class: 'title-logo' %>
    </div>
  </div>
  <div class="some-bottons">
  <%# 以下リンクにするかボタンにするか悩み中（現在リンク（仮）） %>
  <%# 投稿ボタンを画面右下固定にするか悩み中 %>
    <div class="first-botton">
      <%= link_to "会員登録", new_user_registration_path, class: 'btn' %>
    </div>
    <div class="second-botton">
      <a href='#'>ログイン</a>
    </div>
    <div class="third-botton">
      <a href='#'>投稿</a>
    </div>
  </div>
</div>