/* indexのcss */

.main {
  height: calc(100vh - 180px);
  display: flex;
  text-align: center;
}

.main-view {
  width: 100vw;
  overflow: scroll;
}

.main-images {
  display: flex;
  width: 80vw;
  height: 500px;
  border: solid red 1px;
  margin:0 auto;
  justify-content: space-around;
}

.image {
  border: 1px blue solid;
}

.animal-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.post-animals {
  display: flex;
}


.family-btn {
  width: 120px;
  background:orange;
  text-align: center;
  border-radius: 4%;
  bottom: 35px;
  right: 35px;
  position: fixed;
  padding: 15px;
}

.family-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 3px;
}

.family-btn-icon {
  width: 60%;
}

/* 全てのa要素のアンダーバー消し */
a {
  text-decoration: none;
}
