/* indexのcss */

.main {
  display: flex;
  height: calc(100vh - 160px);
}

/* 検討中 .side-bar {
  background-color: brown;
  width: 150px;
  padding: 20px 10px 0;
} */

.main-view {
  background-color: cyan;
  width: 100vw;
  overflow: scroll;
}

.main-images {
  display: flex;
}

.image {
  width: 100%;
  height: 300px;
}

.family-btn {
  width: 120px;
  background:orange;
  text-align: center;
  border-radius: 4%;
  bottom: 35px;
  right: 35px;
  position: fixed;
  padding: 15px;
}

.family-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 3px;
}

.family-btn-icon {
  width: 60%;
}

/* 全てのa要素のアンダーバー消し */
a {
  text-decoration: none;
}
