/* メイン部分テンプレcss */

.header {
  height: 140px;
  display: flex;
}

.left-box {
  border: blue 1px solid;
  width: 80%;
}

.right-box {
  border: blue 1px solid;
  width: calc(100vw - 80%);
  display: flex;
  padding: 20px 5px;
  justify-content: space-around;
  align-items: center;
}

.footer {
  border: blue 1px solid;
  width: 100vw;
  height: 40px;
  padding: 10px 30px;
  text-align: center;
}